<footer>
    <div class="wrap-inner">
        <p class="copyright">Alle rechten voorbehouden © Pathé 2014</p>
        <div class="logo-bottom">
            <a href="#"><img src="../assets/images/logo3.png" alt="logo3" /></a>
            <a href="#"><img src="../assets/images/logo4.png" alt="logo4" /></a>
        </div>
        <div class="bottom-nav">
            <a href="disclaimer.shtml">Disclaimer</a>
            <a href="#">Privacy</a>          
            <a href="#">Algemene voorwaarden</a>
        </div>
    </div>
</footer>
<!--#include file="login.html" --> 
<!--#include file="wwvergeten.html" --> 