<header>
    <div class="wrap-inner">
        <div class="login">
            <a href="#">inschrijven</a><span class="line-v">|</span><a href="#">inloggen</a>
        </div>
        <div class="logo">
            <a href="#"><img src="../assets/images/logo1.png" alt="logo1" /></a>
            <a href="#"><img src="../assets/images/logo2.png" alt="logo2" /></a>
        </div>
        <div class="nav">
            <a href="#" class="current">Home</a>
            <a href="#">Air Miles inwisselen</a>
            <a href="#">Contact</a>                            
        </div>
    </div>
</header>