<header>
    <div class="wrap-inner">
        <div class="login">
            <a href="#">inschrijven</a><span class="line-v">|</span><a href="#login-block" class="fancybox">inloggen</a>
        </div>
        <div class="logo">
            <a href="#"><img src="../assets/images/logo1.png" alt="logo1" /></a>
            <a href="#"><img src="../assets/images/logo2.png" alt="logo2" /></a>
        </div>
        <div class="nav">
            <a href="home_v4.shtml" class="current">Home</a>
            <a href="inwisselen.shtml">Air Miles inwisselen</a>
            <a href="contact.shtml">Contact</a>                            
        </div>
    </div>
</header>