<div id="login-block" class="login-block">
    <div class="inner">
        <h3><span>inloggen</span></h3>
        <p class="login-title">Aenean eu leo quam. Pellentesque ornare sem la
    cinia quam venenatis vestibulum.</p>
        <form class="form">
            <label>Gebruikersnaam</label>
            <p><input type="text" class="text-input" /></p>
            <label>Gebruikersnaam</label>
            <p class="error"><input type="password" class="text-input" /></p>
            <div>
                <input type="button" value="inloggen" class="btn f-right" />
                <div class="checkbox checkbox2">
                    <input type="checkbox" id="checkbox-login" class="checkbox" />
                    <label for="checkbox-login">onthoud mijn gebruikersnaam</label>
                </div>
            </div>
        </form>
        <ul class="forget">
            <li><a href="#lwwvergeten-block"  class="fancybox">gebruikersnaam of wachtwoord vergeten?</a></li>
            <li><a href="#">ik heb nog geen gebruikersnaam of wachtwoord</a></li>
        </ul>
    </div>
    <div class="tip"></div>
</div>