<div id="lwwvergeten-block" class="login-block lwwvergeten-block">
    <div class="inner">
        <h3><span>gebruikersnaam of wachtwoord vergeten</span></h3>
        <p class="login-title">Aenean eu leo quam. Pellentesque ornare sem la cinia quam venenatis vestibulum.
Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id
ligula porta felis euismod semper.</p>
        <form class="form">
            <label>Gebruikersnaam of kaartnummer</label>
            <p><input type="text" class="text-input" /></p>
            <div class="button">
                <input type="button" value="versturen" class="btn f-right" />
            </div>
        </form>
    </div>
</div>