<!DOCTYPE HTML>
<!--[if IE 9]>     <html class="ie ie9 lte9">           <![endif]-->
<!--[if gt IE 9]>  <html>                               <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <title>airmiles</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="application-name" content="airmiles">
        <link href="../assets/app.css" rel="stylesheet">
    </head>

    <body >
        <header>
            <div class="wrap-inner">
                <div class="login">
                    <a href="#">inschrijven</a><span class="line-v">|</span><a href="#">inloggen</a>
                </div>
                <div class="logo">
                    <a href="#"><img src="../assets/images/logo1.png" alt="logo1" /></a>
                    <a href="#"><img src="../assets/images/logo2.png" alt="logo2" /></a>
                </div>
                <div class="nav">
                    <a href="#">Home</a>
                    <a href="#">Air Miles inwisselen</a>
                    <a href="#">Contact</a>                            
                </div>
            </div>
        </header>
        <div class="main">
            <div class="wrap-inner">
                <h1 class="page-title">Disclaimer</h1>
                <div class="disclaim-cont">
                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum.</p>

                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>

                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit.Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum.</p>

                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.</p>

                    <p>Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>

                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.</p>
                </div>
            </div>
        </div>   
        <footer>
            <div class="wrap-inner">
                <p class="copyright">Alle rechten voorbehouden © Pathé 2014</p>
                <div class="logo-bottom">
                    <a href="#"><img src="../assets/images/logo3.png" alt="logo3" /></a>
                    <a href="#"><img src="../assets/images/logo4.png" alt="logo4" /></a>
                </div>
                <div class="bottom-nav">
                    <a href="#">Disclaimer</a>
                    <a href="#">Privacy</a>          
                    <a href="#">Algemene voorwaarden</a>
                </div>
            </div>
        </footer>  
    </body>
</html>
