/* line 17, ../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 5, scss/partials/_base.scss */
body {
  background: #1b1b1b url(images/bg.jpg) no-repeat center 0;
  font-size: 12px;
  color: #fff;
  line-height: 1.5; }

/* line 12, scss/partials/_base.scss */
a {
  text-decoration: none;
  cursor: pointer; }

@font-face {
  font-family: 'robotoregular';
  src: url("font/roboto-regular-webfont.eot");
  src: url("font/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/roboto-regular-webfont.woff2") format("woff2"), url("font/roboto-regular-webfont.woff") format("woff"), url("font/roboto-regular-webfont.ttf") format("truetype"), url("font/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotocondensed';
  src: url("font/roboto-condensed-webfont.eot");
  src: url("font/roboto-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("font/roboto-condensed-webfont.woff2") format("woff2"), url("font/roboto-condensed-webfont.woff") format("woff"), url("font/roboto-condensed-webfont.ttf") format("truetype"), url("font/roboto-condensed-webfont.svg#robotocondensed") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotomedium';
  src: url("font/roboto-medium-webfont.eot");
  src: url("font/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("font/roboto-medium-webfont.woff2") format("woff2"), url("font/roboto-medium-webfont.woff") format("woff"), url("font/roboto-medium-webfont.ttf") format("truetype"), url("font/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensedregular';
  src: url("font/robotocondensed-regular-webfont.eot");
  src: url("font/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/robotocondensed-regular-webfont.woff2") format("woff2"), url("font/robotocondensed-regular-webfont.woff") format("woff"), url("font/robotocondensed-regular-webfont.ttf") format("truetype"), url("font/robotocondensed-regular-webfont.svg#roboto_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensedlight';
  src: url("font/robotocondensed-light-webfont.eot");
  src: url("font/robotocondensed-light-webfont.eot?#iefix") format("embedded-opentype"), url("font/robotocondensed-light-webfont.woff2") format("woff2"), url("font/robotocondensed-light-webfont.woff") format("woff"), url("font/robotocondensed-light-webfont.ttf") format("truetype"), url("font/robotocondensed-light-webfont.svg#roboto_condensedlight") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 2, scss/partials/_layout.scss */
.wrap-inner {
  width: 980px;
  margin: 0 auto; }

/* line 1, scss/partials/_main.scss */
header {
  margin-bottom: 70px; }
  /* line 19, scss/partials/_base.scss */
  header:before, header:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  /* line 23, scss/partials/_base.scss */
  header:after {
    clear: both; }

/* line 6, scss/partials/_main.scss */
.login {
  text-align: right;
  line-height: 24px;
  padding-top: 7px; }
  /* line 10, scss/partials/_main.scss */
  .login a {
    color: #fff;
    font-family: 'robotoregular';
    line-height: 24px; }
  /* line 15, scss/partials/_main.scss */
  .login .line-v {
    padding: 0 5px; }

/* line 20, scss/partials/_main.scss */
.logo {
  float: left;
  width: 50%;
  margin-top: 10px; }
  /* line 24, scss/partials/_main.scss */
  .logo a {
    margin-right: 75px; }

/* line 29, scss/partials/_main.scss */
.nav {
  float: right;
  margin-top: 37px;
  border-radius: 3px;
  color: rgba(71, 73, 74, 0.2);
  background-color: #0071bd;
  background-clip: padding-box;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.5), 0 3px 0 #08436a;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  line-height: 20px; }
  /* line 39, scss/partials/_main.scss */
  .nav a {
    color: #fff;
    font-size: 16px;
    padding: 15px 35px;
    display: inline-block;
    font-family: "robotomedium";
    background: url(images/nav-bg.png) no-repeat 0 center; }
    /* line 46, scss/partials/_main.scss */
    .nav a:first-child {
      background: none; }

/* line 52, scss/partials/_main.scss */
.page-title {
  font-size: 20px;
  margin-bottom: 50px;
  font-family: 'roboto_condensedregular'; }

/* line 58, scss/partials/_main.scss */
.disclaim-cont {
  font-size: 14px;
  line-height: 24px;
  font-family: 'roboto_condensedlight';
  padding-bottom: 60px; }
  /* line 63, scss/partials/_main.scss */
  .disclaim-cont p {
    margin-bottom: 20px; }

/* line 68, scss/partials/_main.scss */
footer {
  background-color: #0071bb;
  margin-top: 35px;
  min-height: 120px; }
  /* line 72, scss/partials/_main.scss */
  footer .wrap-inner {
    position: relative; }
  /* line 75, scss/partials/_main.scss */
  footer .copyright, footer .bottom-nav {
    font-family: 'robotoregular';
    color: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    -webkit-transform-origin: 100% 50%;
    -webkit-transform: translate(-40px, 0) scale(0.8333);
    position: absolute;
    left: 0;
    bottom: 25px; }
  /* line 85, scss/partials/_main.scss */
  footer .bottom-nav {
    left: auto;
    right: -40px; }
    /* line 88, scss/partials/_main.scss */
    footer .bottom-nav a {
      padding-left: 25px;
      color: rgba(0, 0, 0, 0.7); }
      /* line 91, scss/partials/_main.scss */
      footer .bottom-nav a:hover {
        color: rgba(221, 221, 221, 0.7); }
  /* line 96, scss/partials/_main.scss */
  footer .logo-bottom {
    text-align: center;
    height: 120px;
    line-height: 120px; }
    /* line 100, scss/partials/_main.scss */
    footer .logo-bottom a:first-child {
      margin-right: 25px; }
    /* line 103, scss/partials/_main.scss */
    footer .logo-bottom img {
      vertical-align: middle; }
