<div class="wgt-block">
    <div class="bevestiging-wgt">
        <h1 class="page-title">Bestelling</h1>
        <p class="tip-title">
            Beste {NAAM},<br />
            Bedankt voor uw bestelling. 
        </p>
        <p class="tip-title tip-title2">
            Er is een kopie van de bestelling verzonden naar {EMAIL VOLGENS AIRMILES ACCOUNT}.
        </p>
        <p class="tip-title">
            Er zijn {AANTAL} kaart(en) onderweg naar {ADRES}, {POSTCODE} {PLAATS}. De levertijd is ongeveer X aantal dagen. Wij wensen u veel plezier bij de film!
        </p>
    </div>
    <p class="text-right">
        <a href="#" class="btn">Terug naar home</a>
    </p>
</div>