<div class="wgt-block contact-wgt">
    <h1 class="page-title">Neem contact met ons op voor meer informatie</h1>
    <p class="tip-title">Voor algemene vragen over de Midweek voucher kunt u contact opnemen via <a href="mailto:vragen@website.nl">vragen@website.nl</a>. Wij zullen uw vraag zo snel mogelijk beantwoorden.</p>
    <form class="form">
        <p>
            <input type="text" placeholder="Naam" class="input-text" />
        </p>
        <p>
            <input type="text" placeholder="Email adres" class="input-text" />
        </p>
        <p>
            <input type="text" placeholder="Onderwerp" class="input-text" />
        </p>
        <p>
            <textarea placeholder="Onderwerp"></textarea>
        </p>
        <p class="text-right">
            <input type="button" value="Verzenden" />
        </p>
    </form>
</div>