<div class="wgt-block insisselen-wgt">
    <h1 class="page-title">1000 Air Miles</h1>
    <p class="tip-title">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
    <form class="form">
        <div class="ticket">
            <div class="ticket-box">
                <input type="text" value="1" class="input-text" />
                <span class="plus"></span>
                <span class="minus"></span>
            </div>
            <span class="ticket-num">Aantal MaDiWoDo vouchers</span>
        </div>
        <p class="error">
            <input type="text" placeholder="Naam" class="input-text" />
        </p>
        <p>
            <input type="text" placeholder="Adres" class="input-text" />
        </p>
        <p>
            <input type="text" placeholder="Postcode" class="input-text small" />
            <input type="text" placeholder="Plaats" class="input-text middle" />
        </p>
        <div class="checkbox">
            <input type="checkbox" id="checkbox1" class="checkbox" />
            <label for="checkbox1">Ja, ik ga akkoord met de algemene voorwaarden</label>
        </div>
        <p class="text-right">
            <span class="requst">Niet alle gegevens zijn juist ingevuld.</span><input type="button" value="Plaats bestelling" />
        </p>
    </form>
</div>