<div class="top-moment">
    <h3 class="page-title">Top 6 van dit moment</h3>
    <ul>
        <li>
            <a href="#"><img src="../assets/images/ads/moment1.jpg" alt="moment1" /></a>
        </li>
        <li>
            <a href="#"><img src="../assets/images/ads/moment2.jpg" alt="moment1" /></a>
        </li>
        <li>
            <a href="#"><img src="../assets/images/ads/moment3.jpg" alt="moment1" /></a>
        </li>
        <li>
            <a href="#"><img src="../assets/images/ads/moment4.jpg" alt="moment1" /></a>
        </li>
        <li>
            <a href="#"><img src="../assets/images/ads/moment5.jpg" alt="moment1" /></a>
        </li>
        <li>
            <a href="#"><img src="../assets/images/ads/moment6.jpg" alt="moment1" /></a>
        </li>
    </ul>
</div>